@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoBlack.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoBlack.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoBlackItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoBlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoLight.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoLightItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoLightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoRegular.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoRegularItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoRegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoBold.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoBoldItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoMedium.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoMediumItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoMediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoThin.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('~@/assets/fonts/RobotoThinItalic.woff2') format('woff2'),
		url('~@/assets/fonts/RobotoThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}
